body{
    font-family: 'Open Sans', sans-serif;
}
.topspace{
    padding: 3em;
}
.clear{
    padding: 0;
    margin: 0;
}
.head-main{
    background-image: url(/pics/main/head_main.jpg);
    position: relative;
    background-size: cover;
    width: 100%;
    min-height: 600px;
}

.head-content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5em;
    font-weight: bold;
    color: rgba(53, 168, 224, 1)!important;
}

.head-content img{
    width: 30%;
    font-family: 'Raleway', sans-serif;
}

.navbar{
	background-color: rgba(45,62,80, 1);
	color: rgba(255,255,255, 1);
}

.panel-primary {
    border: rgba(53, 168, 224, 1)!important;
    background-color: rgba(74,205,238, 1)!important;
    color: rgba(255,255,255, 1);
}
.panel-primary .panel-heading{
    background-color: rgba(45,62,80, 1);
    color: rgba(255,255,255, 1)!important;
    border-color: rgba(255,255,255, 1)!important;
    border: 0;
}
.panel-success {
    border: rgba(53, 168, 224, 1)!important;
    background-color: rgba(27,188,155, 0.4)!important;
    color: rgba(255,255,255, 1);
}
.panel-success .panel-heading{
    background-color: rgba(27,188,155);
    color: rgba(255,255,255, 1)!important;
    border-color: rgba(255,255,255, 1)!important;
    border: 0;
}

.panel-info {
    border: rgba(53, 168, 224, 1)!important;
    background-color: rgba(27,188,155, 1)!important;
    color: rgba(255,255,255, 1);
}

.panel-info .panel-heading{
    background-color: rgba(45,62,80, 1);
    color: rgba(255,255,255, 1)!important;
    border-color: rgba(255,255,255, 1)!important;
    border: 0;
}

.btn-primary{
    background-color: rgba(45,62,80, 1);
    border: 0!important;
}
.btn-danger{
    background-color: rgba(230,76,102, 1);
    border: 0!important;
}


.navbar a{
    color: rgba(255,255,255, 1)!important;
    font-size: 1.3em;
}
.footer{
    color: white;
    background-color: rgba(45,62,80, 1);
}
.panel-footer{
    color:white;
    background-color: rgb(74, 205, 238)!important;
    border: 0;
}
.panel-footer a{
    color: rgba(256,256,256,1)!important;
}
.network img{
    height: 50px;
}
