.topspace{
    height: 2em;
}
.plan-day{
    border: 1px solid;
}
.panel-primary .panel-heading{
	background-color: rgba(65, 118, 48, 1)!important;
	border-radius: 0!important;
}
.panel-primary{
	border-color: rgba(65, 118, 48, 1)!important;
	border-bottom-left-radius:: 0!important;
	border-bottom-right-radius:: 0!important;
	border-radius: 0!important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: rgba(65, 118, 48, 1);
  border-color: rgba(65, 118, 48, 1);
}


.header-day{
	min-width: 100px!important;
	width: 100px!important;
}
.day-number{
	min-width: 100px!important;
	width: 100px!important;
}
.cal-body{
	min-width: 100%!important;
	width: 100%!important;
}
.cal-body .cal-day td{
	border: solid 1px;
}
.cal-body .day{
	position: relative;
	min-width: 14%!important;
	width: 14%!important;
	height: 150px;
}
.cal-body .cal-day .day-content{
	position: absolute;
	border-bottom: solid 1px;
	width: 100%!important;
	background-color: rgba(214, 233, 198, 0.8);
	top: 0px;
	font-size: 1.2em;
}
.cal-body .cal-day .day{
	background-color: rgba(188, 232, 241, 0.4);
}
.cal-body .cal-day .last-month{
	background-color: rgba(250, 235, 204, 0.6);
}
.cal-body .cal-day .next-month{
	background-color: rgba(250, 235, 204, 0.6);
}
.clndr-controls .month{
	font-size: 2em;
}
.clndr-controls .glyphicon{
	font-size: 1.5em;
}